*{
	padding: 0;
	margin: 0;
	font-family: "Poppins";
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
	
.bgp{
	background-image: url("../image/backimage.png") ;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
html{
	height: 100%;
}
.container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 165%;
}
nav{
	background-color: rgb(26,28,53);
	opacity: 0.8;
	border-radius: 50px;
	padding: 5px;
	box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
	
}
nav ul li{
	list-style: none;
	display: inline-block;
	padding: 5px 16px;
	margin: 5px;
	font-size: 13px;
	font-weight: 700;
	color: #777;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 0.5s;
}
nav ul li::after{
	content: "";
	background: #f44566;
	width: 100%;
	height: 100%;
	border-radius: 30px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
	opacity: 0;
	transition: top 0.5s,opacity 0.5s;
}
nav ul li:hover{
	color: #fff;
}
nav ul li:hover::after{
	top: 50%;
	opacity: 1;
}
nav ul li a{
	text-decoration: none;
	color:#777 ;
}




.shell{
	width: 100%;
	height: 150px;
	position: absolute;
	top: 100px;
	display: flex;
}
.box{
	flex: 1;
	overflow: hidden;
	transition: .5s;
	margin: 0 10px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.3);
}
.box>img{
	width: 200%;
	height: 150%;
	object-fit: cover;
	transition: .5s;
	
}
.box:hover{
	flex-basis: 40%;
}
.box:hover>img{
	width: 100%;
	height: 100%;
}